n_puzzle/__pycache__/
n_puzzle/benchmarks/
puzzles/*

pddl/blocks/*
pddl/logistics/*
pddl/rover/*

sokoban-master/.mvn/*
sokoban-master/settings*
sokoban-master/.vscode/*
sokoban-master/target/*

YetAnotherSATPlanner/classes/*
YetAnotherSATPlanner/lib/*
YetAnotherSATPlanner/benchmarks/*

